.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	max-width: 200px;
	float: right;
	
   }
   
   .input {
	width: 100%;
	height: 40px;
	line-height: 28px;
	padding: 0 1rem;
	padding-left: 2.5rem;
	border: 2px solid transparent;
	border-radius: 8px;
	outline: none;
	background-color: #f3f3f4;
	color: #0d0c22;
	transition: .3s ease;
   }
   
   .input::placeholder {
	color: #9e9ea7;
   }
   
   .input:focus, input:hover {
	outline: none;
	border-color: rgba(173, 9, 72, 0.732);
	background-color: #fff;
	box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
	position: absolute;
	left: 1rem;
	fill: #9e9ea7;
	width: 1rem;
	height: 1rem;
   }

   .card1 {
	--main-color: #000;
	--submain-color: #78858F;
	--bg-color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	position: relative;
	width: 300px;
	height: 384px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	background: var(--bg-color);
  }
  
  .card1__img {
	height: 232px;
	width: 100%;

  }
  
  .card1__avatar {
	position: absolute;
	width: 114px;
	height: 114px;
	background:rgb(181, 124, 124);
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(50% - 57px);
  }
  
  .card1__avatar svg {
	width: 300px;
	height: 300px;
  }
  
  .card1__title {
	margin-top: 60px;
	font-weight: 500;
	font-size: 18px;
	color: var(--main-color);
  }
  
  .card1__subtitle {
	margin-top: 10px;
	font-weight: 400;
	font-size: 15px;
	color: var(--submain-color);
  }
  
  .card1__btn {
	margin-top: 15px;
	width: 76px;
	height: 31px;
	border: 2px solid var(--main-color);
	border-radius: 4px;
	font-weight: 700;
	font-size: 11px;
	color: var(--main-color);
	background: var(--bg-color);
	text-transform: uppercase;
	transition: all 0.3s;
  }
  
  .card1__btn-solid {
	background: var(--main-color);
	color: var(--bg-color);
  }
  
  .card1__btn:hover {
	background: var(--main-color);
	color: var(--bg-color);
  }
  
  .card1__btn-solid:hover {
	background: var(--bg-color);
	color: var(--main-color);
  }





  .avatar1 {
	position: relative;
	width: 200px;
	height: 2px;
	cursor: pointer;
	
  }
  .avatar1 img {
	width: 100%;
	height: 100%;
  }
  .avatar1 .avatar-initial {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #8592a3;
	font-weight: 700;
  }
  .avatar1.avatar-online:after, .avatar.avatar-offline:after, .avatar.avatar-away:after, .avatar.avatar-busy:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 3px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #fff;
  }
  .avatar1.avatar-online:after {
	background-color: #71dd37;
  }
  .avatar1.avatar-offline:after {
	background-color: #8592a3;
  }
  .avatar1.avatar-away:after {
	background-color: #ffab00;
  }
  .avatar1.avatar-busy:after {
	background-color: #ff3e1d;
  }


  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile {
	display: flex;
	justify-content: space-around;
}

.profile-picture img {
	border-radius: 10%;
	margin-left: 1px;
	object-fit: cover;
}
.profile-picture {
	position: relative;
	display: inline-block;
	left: -32px;
  }
  
  .file-upload-label {
	position: absolute;
	bottom: 0;
	right: -20;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 5px;
	margin-left: -59px;


	cursor: pointer;
  }
  
  .file-upload-label i {
	font-size: 25px;
	color: #666;
	
  }


.profile-info{
	margin-left: 10px;
}
.profile-info h2 {
	margin: 20;
}

.profile-info p {
	margin: 0;
}



.select1-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  
  .select1-row label {
	margin-right: 10px;
  }
  
  .select1-row select {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-right: 20px;
  }

  .search-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
  }
  
  .search-container input[type="text"] {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 10px;
  }
  
  .search-container button[type="submit"] {
	padding: 5px;
	font-size: 16px;
	background-color: red;
	color: #fff;
	border: none;
	border-radius: 8px;
  }

  #notfound {
	position: relative;
	height: 100vh;
	background-color: #fafbfd;
  }
  
  #notfound .notfound {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
  }
  
  .notfound {
	max-width: 520px;
	width: 100%;
	text-align: center;
  }
  
  .notfound .notfound-bg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
	z-index: -1;
  }
  
  .notfound .notfound-bg > div {
	width: 100%;
	background: #fff;
	border-radius: 90px;
	height: 125px;
  }
  
  .notfound .notfound-bg > div:nth-child(1) {
	-webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
			box-shadow: 5px 5px 0px 0px #f3f3f3;
  }
  
  .notfound .notfound-bg > div:nth-child(2) {
	-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
			transform: scale(1.3);
	-webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
			box-shadow: 5px 5px 0px 0px #f3f3f3;
	position: relative;
	z-index: 10;
  }
  
  .notfound .notfound-bg > div:nth-child(3) {
	-webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
			box-shadow: 5px 5px 0px 0px #f3f3f3;
	position: relative;
	z-index: 90;
  }
  
  .notfound h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 86px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 8px;
	color: #151515;
  }
  
  .notfound h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 26px;
	margin: 0;
	font-weight: 700;
	color: #151515;
  }
  
  .notfound a {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	background: #18e06f;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	margin-top: 20px;
  }
  
  .notfound-social {
	margin-top: 20px;
  }
  
  .notfound-social>a {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	font-size: 14px;
	color: #fff;
	background-color: #dedede;
	margin: 3px;
	padding: 0px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
  }
  .notfound-social>a:hover {
	background-color: #18e06f;
  }
  
  @media only screen and (max-width: 767px) {
	  .notfound .notfound-bg {
		width: 287px;
		margin: auto;
	  }
  
	  .notfound .notfound-bg > div {
		height: 85px;
	}
  }
  
  @media only screen and (max-width: 480px) {
	.notfound h1 {
	  font-size: 68px;
	}
  
	.notfound h2 {
	  font-size: 18px;
	}
  }

  .wrapper3 {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
  }
  .navbar2 {
	overflow: hidden;
	position: sticky; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
  }

  .sidebar2 {
    overflow: hidden;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	
  }

  .main-container {
    display: flex;
    .side-nav {
      width: 350px;
	  min-height: 100vh;
      min-height: calc(100vh - 70px);
      //background-color: #eb4c4c;
      color: #000;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 1300px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }
  .bd-sidebar{
		grid-area: sidebar;
	
    position: sticky;
    display: block !important;
    
    overflow-y: auto;
  }
  .bd-main {
    grid-area: main
}

@media (max-width: 991.98px) {
    .bd-main {
        max-width:760px;
        margin-inline:auto}
}

@media (min-width: 768px) {
    .bd-main {
        display:grid;
        grid-template-areas: "intro" "toc" "content";
        grid-template-rows: auto auto 1fr;
        gap: inherit
    }
}

@media (min-width: 992px) {
    .bd-main {
        grid-template-areas:"intro   toc" "content toc";
        grid-template-rows: auto 1fr;
        grid-template-columns: 4fr 1fr
    }
}

.bd-intro {
    grid-area: intro
}

.bd-toc {
    grid-area: toc
}

.bd-content {
    grid-area: content;
    min-width: 1px
}

@media (min-width: 992px) {
    .bd-toc {
        position:-webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}


.navbar-scrolled{
    background-color: black;
    box-shadow: 0 3px 10px rgb(0, 0, 0,0.15);
}

.add{
	display: flex;
}
.logo{
    position: relative;
    width: 50px;
    height: 55px;
  }
  .logo img{
    position:absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  .button1 {
    --primary-color: red;
    --secondary-color: #fff;
    --hover-color: #B2BABB ;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 0.4em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.3em;
    font-weight: bold;
  }
  
