header {
    border-bottom: 1px solid #eaecef
}

.search {
    margin-bottom: 50px
}

.search section#description,.search section#heart,.search section#result {
    padding-top: 50px;
    padding-bottom: 50px
}

.search section#form .wrap {
    padding: 17px 0
}

.search section#form .wrap form #input-search,.search section#form .wrap form .criteria-card,.search section#form .wrap form select,.search section#form .wrap form span.criteria {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.search section#form .wrap form #input-search {
    background: url(/build/images/icon-research.2e9f6f83.svg) no-repeat scroll 20px 12px;
    box-shadow: 0 0 .7em 0 #deecff;
    padding-left: 3.5em;
    text-align: left;
    height: 45px;
    width: 400px
}

.search section#form .wrap form #input-search input {
    height: auto;
    border: none;
    margin-right: 5px
}

.search section#form .wrap form #input-search button {
    padding: 0 10px;
    margin: 0 3px 0 0;
    height: 85%;
    background-color: #ffd100;
    border-radius: 6px;
    transform: none;
    font-size: .8em
}

.search section#form .wrap form div.criteria-filter {
    position: relative;
    display: flex
}

.search section#form .wrap form div.criteria-filter span.criteria {
    height: 30px;
    border: 1px solid #d7e1f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: .85em;
    font-weight: 500;
    padding: 0 10px;
    margin-left: 5px
}

.search section#form .wrap form div.criteria-filter span.criteria.selected,.search section#form .wrap form div.criteria-filter span.criteria:hover {
    border-color: #1fdbdc;
    background-color: #1fdbdc;
    color: #fff;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s
}

.search section#form .wrap form div.criteria-filter .scroll {
    overflow: scroll;
    height: 402px
}

.search section#form .wrap form div.criteria-filter .criteria-card {
    position: absolute;
    width: 220px;
    top: 30px;
    left: 5px;
    z-index: 5;
    padding-top: 10px
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content {
    background: #fff;
    border: 1px solid #dfeefb;
    border-radius: 8px;
    padding: 20px 25px 10px
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content div:not(.flex) {
    margin: 3px 0
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content h3 {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content h4 {
    margin: 5px 0
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content button {
    background: #fff;
    border-color: #fff;
    color: #1fdbdc
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content label.checkbox {
    font-size: .9em
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content p {
    text-align: right;
    color: #1fdbdc;
    cursor: pointer
}

.search section#form .wrap form div.criteria-filter .criteria-card .criteria-content input[type=number] {
    margin-top: 5px;
    height: 30px
}

.search section#form .wrap form div.alert-button {
    height: 30px;
    border: 1px solid #e6e9ed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: .85em;
    font-weight: 500;
    padding: 3px 10px;
    margin-left: 15px;
    border-radius: 6px;
    background-color: #1fdbdc
}

.search section#form .wrap form div.alert-button a {
    color: #fff;
    text-decoration: none
}

.search section#form .wrap form div.alert-button a img {
    width: 20px;
    margin-right: 5px
}

.search section#form .wrap form select {
    background: url(/build/images/icon-select-open.b5257eaa.svg) no-repeat right 12px top 55% #fff;
    height: 30px;
    font-size: 14px;
    -webkit-appearance: none;
    padding: 0 34px 0 12px;
    width: auto;
    margin-left: 5px
}

.search section#description {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f6faff
}

.search section#description h1 {
    color: #1fdbdc;
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 15px
}

.search section#description h2 {
    line-height: 1.5em;
    font-size: 1.3em;
    padding: 5px 0
}

.search section#description p {
    font-size: .95em;
    line-height: 1.5em
}

.search section#description img.sign-img {
    background-color: #fff;
    border-radius: 75px;
    width: 160px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 8px 0 hsla(0,0%,77.6%,.5)
}

.search section#description div.text>* {
    font-size: 1em;
    line-height: 1.7em
}

.search section#description div.text strong {
    font-weight: 700
}

.search section#description div.text ul li:before {
    content: "\2022";
    font-size: 20px;
    margin-right: 10px
}

.search section#heart,.search section#result {
    padding-bottom: 30px
}

.search section#heart h2,.search section#result h2 {
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 20px
}

.search section#heart h3,.search section#result h3 {
    color: #69728b;
    font-size: 1em;
    margin-bottom: 20px
}

.search section#heart .badges,.search section#result .badges {
    margin: 5px 0 20px
}

.search section#heart .badges .badge,.search section#result .badges .badge {
    margin-right: 20px
}

.search .mobile-form {
    width: 100%
}

.search .mobile-form>div {
    height: 40px
}

.search .mobile-form>div:first-of-type {
    border: 1px solid #e6e9ed;
    border-radius: 6px;
    padding: 0 10px;
    margin-bottom: 4px
}

.search .mobile-form>div:first-of-type .content {
    width: 100%;
    overflow-x: scroll
}

.search .mobile-form>div:first-of-type .content span {
    background-color: #f1f6fd;
    border-radius: 6px;
    padding: 5px 15px;
    white-space: nowrap
}

.search .mobile-form>div:first-of-type.edit {
    cursor: pointer;
    font-size: .9em
}

.search .mobile-form>div:first-of-type.edit span {
    font-size: 25px;
    color: #1fdbdc;
    font-weight: 500
}

.search .mobile-form>div:first-of-type .content,.search .mobile-form>div:first-of-type .edit,.search .mobile-form>div:first-of-type span {
    margin-right: 10px
}

.search .mobile-form>div #alert {
    height: inherit;
    border: 1px solid #e6e9ed;
    border-radius: 6px;
    margin-right: 4px;
    background-color: #1fdbdc
}

.search .mobile-form>div #alert a {
    width: 60px;
    height: inherit
}

.search .mobile-form>div select {
    height: 40px!important
}

.search .modal-form {
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    padding: 0
}

.search .modal-form .modal-content {
    background-color: #fff;
    padding: 100px 0 75px
}

.search .modal-form .modal-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(50,50,50,.15);
    font-weight: 500;
    font-size: 1.4em
}

.search .modal-form .modal-content h1 .close {
    position: absolute;
    right: 20px;
    float: right;
    font-size: 35px;
    cursor: pointer;
    font-weight: 700
}

.search .modal-form .modal-content h1 .close:focus,.search .modal-form .modal-content h1 .close:hover {
    color: #a9a9a9;
    text-decoration: none
}

.search .modal-form .modal-content .apply {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    z-index: 4;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(50,50,50,.15);
    font-weight: 500
}

.search .modal-form .modal-content .apply>div {
    margin: 0
}

.search .modal-form .modal-content>div {
    padding: 0 20px
}

.search .modal-form .modal-content>div h3 {
    font-weight: 500;
    margin: 10px 0
}

.search .modal-form .modal-content>div h3:first-of-type {
    margin-top: 50px
}

.search .modal-form .modal-content>div>div {
    margin-bottom: 40px
}

.search .modal-form .modal-content>div>div>div {
    width: 48%
}

.search .modal-form .modal-content>div>div>div label {
    margin: 5px 0
}

ol#breadcrumb {
    display: flex;
    align-items: center;
    padding: 10px 0 20px
}

ol#breadcrumb>* {
    font-size: 14px
}

ol#breadcrumb li {
    padding: 0 5px
}

ol#breadcrumb li,ol#breadcrumb li>a {
    color: #69728b
}

ol#breadcrumb li img {
    padding-right: 5px
}

ol#breadcrumb li a {
    text-decoration: none
}

ol#breadcrumb li a:hover {
    color: #1fdbdc
}

#faq-content {
    padding: 20px 10px 25px
}

#faq-content h2 {
    line-height: 1.6em;
    font-size: 1.4em;
    padding: 25px 0 0
}

#faq-content h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px 0 5px;
    align-items: center;
    display: flex;
    color: #1fdbdc
}

#faq-content h3:before {
    content: "";
    display: block;
    background-image: url(/build/images/icon-cyan-next.4546b381.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 20px;
    height: 20px
}

#faq-content h3+div div {
    line-height: 1.3em
}

#bottom_content {
    padding: 20px 10px 0
}

#bottom_content h2 {
    line-height: 1.5em;
    font-size: 1.3em;
    padding: 25px 0 5px
}

#bottom_content h2 strong {
    font-weight: 600
}

#bottom_content h3 {
    color: #1fdbdc;
    font-size: 1.15em;
    margin: 15px 0 10px
}

#bottom_content h3 strong {
    font-weight: 500
}

#bottom_content p {
    font-size: .95em;
    line-height: 1.5em;
    margin-top: 8px
}

#bottom_content table {
    width: 100%!important;
    font-size: .95em;
    margin: 20px 0 5px
}

#bottom_content table tr {
    border-bottom: 1px solid #1fdbdc
}

#bottom_content table tr:last-child {
    border-bottom: none
}

#bottom_content table tr td {
    padding: 5px;
    line-height: 1.5em
}

#bottom_content table tr td:nth-child(2n) {
    border-left: 1px solid #1fdbdc
}

.ui-autocomplete {
    z-index: 5
}

.scrollTop {
    position: fixed;
    z-index: 1;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #1fdbdc;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,.24);
    transition: all .4s ease-in-out 0s
}

.scrollTop img {
    width: 30px;
    padding: 0 2px
}

@media(max-width: 1240px) {
    .wrap {
        width:100%;
        padding: 0 10px
    }
}

@media(max-width: 1024px) {
    .search section#description {
        display:none
    }
}

@media(max-width: 600px) {
    .search section.wrap #content_search_mobile .wrap form .mobile-form {
        flex-direction:column
    }

    .search section.wrap #content_search_mobile .wrap form .mobile-form>div,.search section.wrap #content_search_mobile .wrap form .mobile-form>div select {
        width: 100%
    }

    .search section.wrap #content_search_mobile .wrap form .mobile-form>div select {
        margin: 0
    }

    .search section#heart .wrap>h2 {
        font-size: 1.4em
    }
}

@media(max-width: 450px) {
    .search section.wrap #content_search_mobile .modal-form .modal-content>div>div>div {
        width:100%
    }
}

/*!* jQuery UI CSS Framework 1.12.1
* http://jqueryui.com
*
* Copyright jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
* http://api.jqueryui.com/category/theming/
*
* To view and modify this theme, visit http://jqueryui.com/themeroller/*/
.ui-widget {
    font-family: Arial,Helvetica,sans-serif
}

.ui-widget,.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget button,.ui-widget input,.ui-widget select,.ui-widget textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333
}

.ui-widget-content a {
    color: #333
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: 700
}

.ui-widget-header a {
    color: #333
}

.ui-button,.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,html .ui-button.ui-state-disabled:active,html .ui-button.ui-state-disabled:hover {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: 400;
    color: #454545
}

.ui-button,.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button,a:visited.ui-button {
    color: #454545;
    text-decoration: none
}

.ui-button:focus,.ui-button:hover,.ui-state-focus,.ui-state-hover,.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-focus,.ui-widget-header .ui-state-hover {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: 400;
    color: #2b2b2b
}

.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,a.ui-button:focus,a.ui-button:hover {
    color: #2b2b2b;
    text-decoration: none
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px #5e9ed6
}

.ui-button.ui-state-active:hover,.ui-button:active,.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: 400;
    color: #fff
}

.ui-icon-background,.ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #fff
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
    color: #fff;
    text-decoration: none
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a {
    color: #777620
}

.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f
}

.ui-state-error-text,.ui-state-error a,.ui-widget-content .ui-state-error-text,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error-text,.ui-widget-header .ui-state-error a {
    color: #5f3f3f
}

.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary {
    font-weight: 700
}

.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: 400
}

.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-icon {
    width: 16px;
    height: 16px
}

.ui-icon,.ui-widget-content .ui-icon,.ui-widget-header .ui-icon {
    background-image: url(/build/images/ui-icons_444444_256x240.a4c733ec.png)
}

.ui-button:focus .ui-icon,.ui-button:hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-hover .ui-icon {
    background-image: url(/build/images/ui-icons_555555_256x240.97136473.png)
}

.ui-button:active .ui-icon,.ui-state-active .ui-icon {
    background-image: url(/build/images/ui-icons_ffffff_256x240.bf27228a.png)
}

.ui-button .ui-state-highlight.ui-icon,.ui-state-highlight .ui-icon {
    background-image: url(/build/images/ui-icons_777620_256x240.208a2901.png)
}

.ui-state-error-text .ui-icon,.ui-state-error .ui-icon {
    background-image: url(/build/images/ui-icons_cc0000_256x240.0de3b517.png)
}

.ui-button .ui-icon {
    background-image: url(/build/images/ui-icons_777777_256x240.73a1fd05.png)
}

.ui-icon-blank {
    background-position: 16px 16px
}

.ui-icon-caret-1-n {
    background-position: 0 0
}

.ui-icon-caret-1-ne {
    background-position: -16px 0
}

.ui-icon-caret-1-e {
    background-position: -32px 0
}

.ui-icon-caret-1-se {
    background-position: -48px 0
}

.ui-icon-caret-1-s {
    background-position: -65px 0
}

.ui-icon-caret-1-sw {
    background-position: -80px 0
}

.ui-icon-caret-1-w {
    background-position: -96px 0
}

.ui-icon-caret-1-nw {
    background-position: -112px 0
}

.ui-icon-caret-2-n-s {
    background-position: -128px 0
}

.ui-icon-caret-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -65px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 1px -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-on {
    background-position: -96px -144px
}

.ui-icon-radio-off {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-first,.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all,.ui-corner-left,.ui-corner-tl,.ui-corner-top {
    border-top-left-radius: 3px
}

.ui-corner-all,.ui-corner-right,.ui-corner-top,.ui-corner-tr {
    border-top-right-radius: 3px
}

.ui-corner-all,.ui-corner-bl,.ui-corner-bottom,.ui-corner-left {
    border-bottom-left-radius: 3px
}

.ui-corner-all,.ui-corner-bottom,.ui-corner-br,.ui-corner-right {
    border-bottom-right-radius: 3px
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666
}

/*!* jQuery UI Autocomplete 1.12.1
* http://jqueryui.com
*
* Copyright jQuery Foundation and other contributors
* Released under the MIT license.
* http://jquery.org/license
*
* http://api.jqueryui.com/autocomplete/#theming*/
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-autocomplete-category {
    font-weight: 700;
    font-size: .9em;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.1;
    text-transform: capitalize;
    text-decoration: underline
}

.ui-menu .ui-menu-item {
    font-size: 1em;
    font-weight: 500;
    padding: 3px 1em 3px .4em
}

.ui-autocomplete {
    width: 370px;
    max-width: 370px;
    font-family: CircularStd,sans-serif;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px
}

* html .ui-autocomplete {
    height: 300px
}
