

    <div class="content-wrapper3" >
        
            <div class="image">
                <img src="./assets/img/Logo_Afriland-removebg-preview.png" alt="">
            </div>
            
            <div class="card1">
                <div class="bg">
                    <div class="form-container">
                        <p class="title">Se Connecter</p>
                        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <!--<div class="input-group">
                                <label for="username">Alias</label>
                                <input type="text" name="username" id="username" placeholder="">
                            </div>
                            <div class="input-group">
                                <label for="password">Mot de Passe</label>
                                <input type="password" name="password" id="password" placeholder="">
                                <div class="forgot">
                                    <a rel="noopener noreferrer" href="#">Mot de Passe Oublié ?</a>
                                </div>
                            </div> -->

                            <div class="user-box">
                                <input type="text" formControlName="email"  required="">
                                <label>Username</label>
                              </div>
                              <div class="user-box">
                                <input type="{{ showPassword ? 'text' : 'password' }}" name="" formControlName="password"  required="">
                                <span (click)="showPassword =!showPassword" [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></span>
                                <label>Password</label>
                              </div>
                            
                            <br>
                             <br>
                            <button class="sign">Connexion</button>
                        </form>
                        
                    </div>
                </div>
                <div class="blob">
                   
                </div>
                
            </div>
        
    
    </div>




 