<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside id="layout-menu" (hideAside)="ShowNavbar=$event" [state]="ShowNavbar"></app-aside>
        <div class="layout-page">
          <div class="centered-element">
            <app-navbar (showAside)="ShowNavbar=$event"></app-navbar>
          </div>
              
            <div class="content-wrapper">
                <div class="container-xxl container-p-y">
                    
                   
                    <!-- <div
                      *ngIf="errormessage == true"
                      class="alert alert-danger alert-dismissible"
                      role="alert"
                    >
                      <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">
                        Erreur ;(
                      </h6>
                      <p class="mb-0">{{ errormessage }}</p>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div> -->
                    <div class="p-3 row">
                      <div class="py-3 d-flex flex-column">
                        <div>
                          <h6 class="fw-bold">
                            <span class="text-primary">
                              <i class="fa fa-home" aria-hidden="true"></i>
                              <a
                                [routerLink]="['/home']"
                                routerLinkActive="true"
                                class="text-primary"
                                >Acceuil /
                              </a>
                            </span>
                            Filiale
                          </h6>
                        </div>
                      </div>
                      <div class="card p-5">
                        <h2 class="card-header text-primary">
                          Filiale - AFB
                        </h2>
                        <!-- <div  class="text-center mb-5">
                          <div
                            class="spinner-border text-primary"
                            role="status"
                            style="width: 100px; height: 100px"
                          >
                            <span class="visually-hidden">Chargement...</span>
                          </div>
                        </div> -->
                        <div class="card-body">
                          Ici vous avez la liste de toutes les filiales d'Afriland First Bank
                          <div class="table-responsive text-nowrap mt-4">
                            <div class="d-flex justify-content-end mb-4">
                              <button
                              *ngIf="statut=='Group_Admin' && statusUser==true"
                                class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#modalCreateUser"
                              >
                                Créer une filiale
                              </button>
                            </div>
                            <div class="group">
                              <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                              <input placeholder="Search" type="text" [(ngModel)]="searchText"
                              (ngModelChange)="searchByName()" class="input">
                            </div>
                            <div class="select-row">
                              <label for="select-1"></label>
                              <select id="select-1" style="display: none;" >
                                <option value="option-1">--Tous--</option>
                                <option value="option-2">Option 2</option>
                                <option value="option-3">Option 3</option>
                              </select>
                            
                              <label for="select-2">Pays :</label>
                              <select id="select-2">
                                <option value="option-1">--Tous--</option>
                                <option *ngFor="let p of listpays" value="option-2">{{p.nom}}</option>
                                
                              </select>
                            
                              <label for="select-3"></label>
                              <select id="select-3" style="display: none;">
                                <option value="option-1">--Tous--</option>
                                <option value="option-2">Option 2</option>
                                <option value="option-3">Option 3</option>
                              </select>
    
                              <div class="search-container">
                                <button type="submit"><i class="fa fa-search"></i></button>
                              </div>
    
                             
                            </div>
                           
                            <br>
                            <br>
                            <br>
    
                            
          
                            <table bootstrap-table class="table">
                              <thead style="background-color: #f3f2f7">
                                <tr>
                                  <th>#</th>
                                  <th>Nom</th>
                                  <th>BIC</th>
                                  <th>Fax</th>
                                  <th>Telephone</th>
                                  <th>Pays</th>
                                  <th>Site web</th>
                                </tr>
                              </thead>
                              <tbody class="table-border-bottom-0">
                                <tr
                                *ngFor="let fil of filtrecat
                                | paginate
                                   : { itemsPerPage: 10, currentPage: currentPage };
                                   let i = index
                               "
                                >
                                  <td>
                                    <span>{{i+1}}</span>
                                  </td>
                                 
                                  <td>
                                    <span>{{fil.nom}}</span>
                                  </td>
                                  <td>
                                    <span>{{fil.bic}}</span>
                                  </td>
                                  <td>
                                    <span>{{fil.fax}}</span>
                                  </td>
                                  <td>
                                    <span>{{fil.phone}}</span>
                                  </td>
                                  <td>
                                    <span>{{fil.pays}}</span>
                                  </td>
                                  <td>
                                    <span>{{fil.site}}</span>
                                  </td>
                                  <td *ngIf="statut=='Group_Admin' && statusUser==true">
                                    <div class="dropdown">
                                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                      <div class="dropdown-menu">
                                        <a class="dropdown-item"  style="cursor:pointer"><i class="fa fa-eye" aria-hidden="true" style="
                                          margin-right: 8px;" ></i>  Details</a>
                                        <a class="dropdown-item" href="#" style="cursor: pointer;" data-bs-toggle="modal" [attr.data-bs-target]="'#modalUpdateFiliale' + fil.id"><i class="fa fa-pencil-square-o" aria-hidden="true"  style="
                                          margin-right: 8px;"></i>Modifier</a>
                                        <a class="dropdown-item" href="#" style="cursor: pointer;" data-bs-toggle="modal" [attr.data-bs-target]="'#modalSupprime' + fil.id"  ><i class="fa fa-trash" aria-hidden="true" style="
                                          margin-right: 8px;"></i>  Supprimer</a>
                                      </div>
                                    </div>
                                  </td>

                                  <td *ngIf="statut=='Group_Manager' && statusUser==true|| statut=='Group_Employe' && statusUser==true|| statusUser==false">
                                    <a class="dropdown-item"  style="cursor:pointer"><i class="fa fa-eye" aria-hidden="true" style="
                                      margin-right: 8px;" ></i>  </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="display: flex; float: right">
                              <div class="pagination">
                                <pagination-controls
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  (pageChange)="currentPage = $event"
                                >
                                </pagination-controls>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                    <div class="col mb-3">
                      <a [routerLink]="['/']" routerLinkActive="true" class="app-brand-link">
                        <div class="logo">
                          <img src="/assets/img/afrilandlogo.svg"/>
                        </div>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Annuaire-AFB</span>
                      </a>
                      <p class="text-body-secondary">© 2023</p>
                    </div>
                
                    <div class="col mb-3">
                
                    </div>
                
                    <div class="col mb-3">
                      <h5>Section</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                      </ul>
                    </div>
                
                    <div class="col mb-3">
                      <h5>Section</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                      </ul>
                    </div>
                
                    <div class="col mb-3">
                      <h5>Section</h5>
                      <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                      </ul>
                    </div>
                  </footer>
                    
        
      </div>
    </div>
  </div>

   <!-- Modal Creation d'une Filiale-->
  <div class="modal fade" id="modalCreateUser" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Ajouter une filiale</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
  
        <div class="modal-body">
          <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
              
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-top-profile"
                  aria-controls="navs-top-profile"
                  aria-selected="false"
                >
                  Remplir le formulaire
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="navs-top-home"
                role="tabpanel"
              >
              <div
              *ngIf="create == true"
              class="alert alert-primary alert-dismissible"
              role="alert"
            >
              <h6
                class="alert-heading d-flex align-items-center fw-bold mb-1"
              >
                Parfait :)
              </h6>
              <p class="mb-0">La filiale a été crée.</p>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
              
                
                <form [formGroup]="filialeForm" (ngSubmit)="onSubmit()">

                  <div class="wrapper3">
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Nom</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Entrer un nom"
                        formControlName="nom"
                      />
                    </div>
  
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Bic</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Entrer le bic de la filiale"
                        formControlName="bic"
                      />
                    </div>
                    
                    <div class="mb-3">
                      <div>
                        <label for="nameWithTitle" class="form-label">Fax</label>
                        <input
                          type="text"
                          id="nameWithTitle"
                          class="form-control"
                          placeholder="Entrer un fax"
                          formControlName="fax"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Telephone</label>
                      <input
                        type="tel"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Entrer un numero de telephone"
                        formControlName="telephone"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Pays</label>
                      <select class="form-select" formControlName="pays" aria-label="Default select example">
                        <option selected>Selectionner un pays</option>
                        <option *ngFor="let p of listpays" value="{{p.nom}}">{{p.nom}}</option>
                      </select>
                    </div>
                    
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Site Web</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="Entrer le nom du site web"
                        formControlName="site_web"
                      />
                    </div>
                  </div>
               
                
                  <div>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      style="width: 100%"
                    > 
                    <div
                    *ngIf="loader == true"
                    class="spinner-border spinner-border-sm"
                    style="color: white"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <span *ngIf="loader == false">{{ enregistreur }}</span>
                  </button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
   <!--FIN-->

     <!-- Modal Update d'une Filiale-->
  <div 
  *ngFor="let fil of listfiliale"
  class="modal fade" 
  id="modalUpdateFiliale{{fil.id}}" 
  tabindex="-1" 
  aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Modifier une filiale</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
  
        <div class="modal-body">
          <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs" role="tablist">
              
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-link"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-top-profile"
                  aria-controls="navs-top-profile"
                  aria-selected="false"
                >
                  Modifier le formulaire
                </button>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="navs-top-home"
                role="tabpanel"
              >
              <div
              *ngIf="update == true"
              class="alert alert-primary alert-dismissible"
              role="alert"
            >
              <h6
                class="alert-heading d-flex align-items-center fw-bold mb-1"
              >
                Parfait :)
              </h6>
              <p class="mb-0">{{messageSuccess}}</p>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
              
                
                <form [formGroup]="filialeForm" (ngSubmit)="onUpdate(fil)">

                  <div class="wrapper3">
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Nom</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="{{fil.nom}}"
                        formControlName="nom"
                      />
                    </div>
  
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Bic</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="fil.bic"
                        formControlName="bic"
                      />
                    </div>
                    
                    <div class="mb-3">
                      <div>
                        <label for="nameWithTitle" class="form-label">Fax</label>
                        <input
                          type="text"
                          id="nameWithTitle"
                          class="form-control"
                          placeholder="{{fil.fax}}"
                          formControlName="fax"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Telephone</label>
                      <input
                        type="tel"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="{{fil.phone}}"
                        formControlName="telephone"
                      />
                    </div>
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Pays</label>
                      <select class="form-select" formControlName="pays" aria-label="Default select example">
                        <option selected>Selectionner un pays</option>
                        <option *ngFor="let p of listpays" value="{{p.nom}}">{{p.nom}}</option>
                      </select>
                    </div>
                    
                    <div class="mb-3">
                      <label for="nameWithTitle" class="form-label">Site Web</label>
                      <input
                        type="name"
                        id="nameWithTitle"
                        class="form-control"
                        placeholder="{{fil.site}}"
                        formControlName="site_web"
                      />
                    </div>
                  </div>
                
                
                  <div>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      style="width: 100%"
                    > 
                    <div
                    *ngIf="loader == true"
                    class="spinner-border spinner-border-sm"
                    style="color: white"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <span *ngIf="loader == false">{{ enregistreur }}</span>
                  </button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
   <!--FIN-->

   <!-- Modal Supprimer une Filiale-->
   <div
   *ngFor="let fil of listfiliale"
   class="modal fade" 
   id="modalSupprime{{fil.id}}" 
   tabindex="-1" 
   aria-hidden="true">
   
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" >
       
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Supprimer un Correspondant</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body" *ngIf="deleted == false">
          <p> Voulez vous vraiment supprimer cette filiale ?</p>
        </div>
        <div class="modal-body" *ngIf="deleted == true">
          <div
                      *ngIf="deleted == true"
                      class="alert alert-primary alert-dismissible"
                      role="alert"
                    >
                      <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">
                        Suppression effectuée
                      </h6>
                      <p class="mb-0">La filiale a été supprimé.</p>
                    </div>
        </div>
        <div class="modal-footer" *ngIf="deleted == false" >
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Annuler
          </button>
          <button  type="button" class="btn btn-danger" (click)="deleteFiliale(fil.id)">
            <div
           *ngIf="actionDelete==true"
            class="spinner-border spinner-border-sm"
            style="color: white"
            role="status"
          >
            <span class="visually-hidden">Chargement...</span>
          </div>
          Supprimer
        </button>
          
        </div>
        <div class="modal-footer" *ngIf="deleted == true" >
          <button  type="button" class="btn btn-danger" (click)="deleteFiliale2(fil.id)">
          
          Fermer
        </button>
          
        </div>
      </div>
    </div>
  </div>
  <!--FIN-->
</div>



