<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-aside id="layout-menu" (hideAside)="ShowNavbar=$event" [state]="ShowNavbar"></app-aside>
        <div class="layout-page">
            <app-navbar (showAside)="ShowNavbar=$event"></app-navbar>
            <div class="content-wrapper2">

                <div class="p-5 mb-4 bg-body-tertiary rounded-3">
                    <div class="container-fluid py-5">
                      <h1 class="display-5 fw-bold" class="anim-typewriter">Bienvenue Chers Collegues</h1>
                      <p class="col-md-8 fs-4">Accedez aux differents services d'Afriland First Bank depuis l'Annuaire. Soucieuse d’améliorer votre expérience client, la First Bank a conçu des offres  de produits spécifiques en packages. En fonction de votre profil, vous trouverez le pack qui répond à vos besoins.</p>
                      
                    </div>
                  </div>

                  <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                          <h2>Site web de l'entreprise</h2>
                          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                          <button class="btn btn-outline-secondary" type="button">Visistez</button>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                        <h2>SARA Banking</h2>
                        <p>SARA by Afriland est une application mobile 2 en 1 SARA BANKING et SARA MONEY qui permet à son utilisateur d’avoir accès à un large portefeuille de services bancaires et financiers à partir de son téléphone portable partout et à tout moment.</p>
                        <button class="btn btn-outline-secondary" type="button">En savoir plus</button>
                      </div>
                    </div>
                    <hr style=" padding-left: 1px ; width: 100%;">
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                          <h2>E-First</h2>
                          <p> E-first est La solution d’Afriland First Bank pour la gestion de vos comptes sur internet, où que vous soyez, à tout moment. En un seul abonnement, consultez et gérez l’ensemble de vos comptes en temps réel sans vous déplacer en agence.  !!</p>
                          <button class="btn btn-outline-secondary" type="button">En savoir plus</button>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                          <h2>Add borders</h2>
                          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                          <button class="btn btn-outline-secondary" type="button">Example button</button>
                        </div>
                      </div>
                  </div>
                
                  <footer class="py-3 my-4">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                     
                    </ul>
                    <p class="text-center text-body-secondary">© 2023 Afriland First Bank, Cameroun</p>
                  </footer>
                    
        
      </div>
    </div>
  </div>


  
</div>
