<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" [ngClass]="{showNav:state}" style="height: 100%;">
    <div class="close" (click)="hideNavbar()">
      <i class="fa fa-plus"></i>
    </div>
      <div class="app-brand demo mt-lg-4 mb-4 pt-4 mt-4">
        <a [routerLink]="['/']" routerLinkActive="true" class="app-brand-link">
          <div class="logo">
            <img src="../assets/img/afrilandlogo.svg"/>
          </div>
          <span class="app-brand-text demo menu-text fw-bolder ms-2">Annuaire-AFB</span>
        </a>
  
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>
  
      <div class="menu-inner-shadow"></div>
  
      <ul class="menu-inner py-1 gap-2">
        <!-- Dashboard -->
        <li class="menu-item "  [ngClass]="{'active':currentUrl ==='/'}">
          <a [routerLink]="['/']" routerLinkActive="true" class="menu-link gap-2">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
            <div data-i18n="Personnel AFB">Personnel AFB</div>
          </a>
        </li>
  
        <!-- Layouts -->
        <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/agence'}">
          <a [routerLink]="['/agence']" routerLinkActive="true" class="menu-link gap-2" >
              <i class="fa fa-folder-o" aria-hidden="true"></i>
            <div data-i18n="Agence">Agence</div>
          </a>
        </li>
  
        <li class="menu-item " routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/filiale'}">
          <a [routerLink]="['/filiale']" routerLinkActive="true" class="menu-link gap-2" >
            <i class="fa fa-user-o" aria-hidden="true"></i>
            <div data-i18n="Filiale">Filiale</div>
          </a>
        </li>
        <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/partenaire'}">
          <a [routerLink]="['/partenaire']" class="menu-link gap-2" >
              <i class="fa fa-bell-o" aria-hidden="true"></i> 
            <div data-i18n="Partenaires">Partenaires</div>
          </a>
        </li>
        <li class="menu-item" routerLinkActive="active" [ngClass]="{'active':currentUrl ==='/confrere'}">
          <a [routerLink]="['/confrere']" routerLinkActive="true" class="menu-link gap-2" >
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <div data-i18n="Confrere">Confrere</div>
          </a>
        </li>
        <li class="menu-item">
          <hr style=" padding-left: 1px ; width: 100%;">
          <a style="cursor: pointer;" class="menu-link gap-2">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            <div data-i18n="Correspondance">Correspondance</div>
          </a>
        </li>
        
       </ul> 
      
  </aside>
